/*for the bottom of the page*/
/* Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	background: #222224 url(../images/bg_footer.png);
	padding: 27px 0 0;
	color: #a5a5aa;
	font-size: 14px;
	line-height: 30px;
}

#footer h3 {
	color: #fff;
	font-family: "Novecentowide";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 10px;
    letter-spacing: normal;
    
}

#footer li:before {
	content: "";
}

#footer .ico {
	display: inline-block;
	background: url(../img/ico_footer.png);
	width: 19px;
	height: 19px;
	margin: -5px 10px -5px 0;
}

#footer .ico.ico-tw {
	background-position: 0 -19px;
}

#footer .ico.ico-gp {
	background-position: 0 -38px;
}

#footer .ico.ico-pi {
	background-position: 0 -57px;
}

#footer .ico.ico-em {
	background-position: 0 -76px;
	margin: -7px 7px -7px 0;
}

#footer .ico.ico-ph {
	background-position: 0 -95px;
	margin: -5px 10px -5px -3px;
}

#footer .social li {
	line-height: 32px;
	padding-bottom: 6px;
}

#footer .social li:before {
	display: none;
}

#footer .contact p {
	line-height: 24px;
	font-size: 14px;
	padding: 2px 0 0;
	margin-bottom: 8px;
}

#footer .newsletter p {
	line-height: 24px;
	font-size: 14px;
	padding: 2px 0 0;
	margin-bottom: 8px;
}



#footer  button {
	
    padding: 9px;
    
}


#footer  input {
	width:60%;
    padding: 10px;
    border: 0;
	color: #656567;
	
}

::-webkit-input-placeholder {
	color: #656567;
}

::-moz-placeholder {
	color: #656567;
	opacity: 1;
}

#footer .col {
	float: left;
	width: 25.7%;
	padding-bottom: 37px;
    
}

#footer .col.media {
	width: 17%;
}

#footer .col.contact {
	width: 25.7%;
}

#footer .col.newsletter {
	width: 31.6%;
}

#footer a {
	color: #a5a5aa;
    text-decoration: none;
}

#footer .copy {
	color: #717176;
	font-size: 14px;
	padding: 28px 0;
	clear: both;
	border-top: 1px solid #333336;
}

.container {
		width: auto;
		padding: 0 30px;
	}

.gng {
    margin-top: 88px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid white;
    transition: 6s;
   -webkit-box-shadow: 0px 0px 42px 11px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 42px 11px rgba(0,0,0,1);
box-shadow: 0px 0px 42px 11px rgba(0,0,0,1);
    
}

.h {
    width: 310px;
    height: 310px;
    padding: 10px;      
}

.gng:hover {
    background-image: url(../img/giphy2.gif);
    
}

span.tit {
    
     color: black;
    font-weight: lighter;
    font-size: 12px;
     letter-spacing: 0px;
    background-color: white;
    padding: 10px;
    text-transform: uppercase;
border-radius: 90px 0px 70px 0px;
    
}


/*style/

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
    
    input:hover{
        background-color: rgba(0,0,0,0.1);
        color: black;
    }

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:cadetblue;
}

/* Style the contact/contact section */
#contact {
    border-radius: 5px;
   padding: 50px;
}

/* Create two clms that float next to eachother */
.clm {
    float: left;
    width: 45.5%;
    margin-top: 6px;
    padding: 20px;
    text-align: left;
    
}

/* Clear floats after the clms */
.rw:after {
    content: "";
    display: table;
    clear: both;
    
}

/* Responsive layout - when the screen is less than 600px wide, make the two clms stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .clm, 
    input[type=submit],
    input[type=text]{
        width:100%;
        margin-top: 0px;
    }
    
    #contact {
    padding: 20px;
}
    
    .frm{
        width: 86%;
    }
    
}

/*media*/

@media screen and (max-width: 1220px) {

    .container {
        width: auto;
        padding: 0 20px;
    }

    .gng {
        margin-top: 88px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        padding: 5px;
        border: 2px solid white;
        transition: 6s;

    }

    .h {
        width: 210px;
        height: 210px;
        padding: 10px;
    }




    #footer .col {
        width: 100% !important;
        float: none;
        vertical-align: top;
        display: inline-block;
    }
    
    .midle {
    height: 100px;
    width: 100px;
}
    .capt {
 
  text-align: center;
  color: #000;
    padding: 30px;
}

}




@media screen and (max-width: 479px) {

    #footer .col {
        width: 100% !important;
    }

    .gng {
        margin-top: 88px;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        padding: 5px;
        border: 2px solid white;
        transition: 2s;

    }

    .h {
        width: 110px;
        height: 110px;
        padding: 10px;
    }

    .caption span.border {

        font-size: 20px;
    }
    
      .caption3 span.border {

        font-size: 20px;
    }
    .midle {
    height: 100px;
    width: 100px;
}
    .chi {
    font-size: 12px;
}
    
    .capt {
 
  text-align: center;
  color: #000;
    padding: 30px;
}

}



@media screen and (min-width: 460px) and (max-width: 768px) {
    #footer .col:nth-child(1) {
        width: 49% !important;
        padding-right: 15px;
    }

    #footer .col:nth-child(2) {
        width: 49% !important;
    }
    
    .midle {
    height: 100px;
    width: 100px;
}
    
    .chi {
    font-size: 10px;
}
    .capt {
 
  text-align: center;
  color: #000;
    padding: 30px;
}
    
}


@media only screen and (max-width: 260px) {
 .parent {
        width: 50px;
        height: 50px;
        margin: 20px 5px;
        padding: 3px;
    }
    .capt {
 
  text-align: center;
  color: #000;
    padding: 30px;
}

    
}
